html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

#background{
    background-color: #000;
	background-image: url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	display: table;
	height: 100%;
	width: 100%;
}

#loginContainer *{
	color: #fff;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer{
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #a0a0a0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #a0a0a0;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #a0a0a0;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #a0a0a0;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #a0a0a0;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #a0a0a0;
}


#inputContainer{
	width: 400px;
	padding: 45px;
	float: left;
	border-right: 1px solid #999;
}

#inputContainer h2{
	text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"]{
	display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    height: 27px;
    width: 100%;
}

#inputContainer label{
    color: #fff;
    font-size: 13px;
    margin-top: 15px;
    display: block;
}

#inputContainer button{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 250px;
    color: white;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}

#inputContainer button:hover{
    cursor: pointer;
}

.hasAccountText span{
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hasAccountText{
	text-align: center;
}

#registerForm,
#loginForm{
	display: none;
}

/*#hideLogin,
#hideRegister{
	cursor: pointer;
}*/

#loginText{
    padding: 45px;
    display: table-cell;
}

#loginText h1{
    color: #07d159;
    font-size: 60px;
    font-weight: bold;
}

#loginText h2{
    margin: 35px 0;
}

#loginText ul{
	padding: 0;
}

#loginText li{
	font-size: 20px;
	list-style-type: none;
	padding: 3px 30px;
	background: url(../images/icons/checkmark.png) no-repeat;
}

#inputContainer .errorMessage{
	color: #07d159;
	font-size: 12px;
	display: block;
}