html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

*{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
}

body{
	background-color: #181818;
	font-size: 14px;
	min-width: 730px;
}

#nowPlayingBarContainer{
	width: 100%;
	background-color: #282828;
	bottom: 0;
	position: fixed;
	min-width: 620px;
}

#nowPlayingBar{
	display: flex;
	height: 90px;
	padding: 16px;
    box-sizing: border-box;
    
    .content{
        width: 100%;
        height: 57px;
    }
}

#nowPlayingLeft,
#nowPlayingRight{
	width: 30%;
	min-width: 180px;
}

#nowPlayingRight{
	position: relative;
	margin-top: 16px;
}

#nowPlayingCenter{
	width: 40%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
}

// #nowPlayingBar 

.playerControls {

    .buttons{
        margin: 0 auto;
        display: table;
    }
}

.controlButton{
	background-color: transparent;
	border: none;
    vertical-align: middle;
    
    img{
        width: 20px;
        height: 20px;

        &:hover {
            /* background-color: rgba(17,17,17, 0.06); */
            background-color: gray;
        }
    }

    &.play img,
    &.pause img {
        width: 32px;
        height: 32px;
    }

    &:hover{
        cursor: pointer;
    }

}

.progressTime{
	color: #a0a0a0;
	font-size: 11px;
	min-width: 40px;
	text-align: center;
}

.playbackBar{
    display: flex;
    
    .progressBar{
        margin-top: 3px; 
    }
}

.progressBar{
	width: 100%;
	height: 12px;
	display: inline-flex;
	cursor: pointer;
}

.progressBarBg{
	background-color: #404040;
	height: 4px;
	width: 100%;
	border-radius: 2px;
}

.progress{
	background-color: #a0a0a0;
	height: 4px;
	width: 0;
	border-radius: 2px;
}

// .playbackBar 

#nowPlayingLeft {

    .albumArtWork {
        height: 100%;
        max-width: 57px;
        margin-right: 15px;
        float: left;
        background-size: cover;
        border: 1px solid white;
    }

    .trackInfo {
        display: table;

        .trackName{
            margin: 6px 0;
            display: inline-block;
            width: 100%;
        }

        .artistName {

            span{
                font-size: 12px;
                color: #a0a0a0;
            }
        }
    }
}


.volumeBar{
	width: 180px;
	position: absolute;
	right: 0;
    cursor: pointer;
    
    .progressBar {
        width: 125px;
    }
}

#topContainer {
	min-height: 100%;
	width: 100%;
}

#navBarContainer {
	background-color: #000;
	width: 220px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.navBar {
	padding: 25px;
	display: flex;
	flex-direction: column;
    -ms-flex-direction: column;
    
    .group {
        border-top: 1px solid #a0a0a0;
        padding: 10px 0;
    }
}

.logo {
    margin-bottom: 15px;
    
    img {
        width: 32px;
    }
}

.navItem {
	padding: 10px 0;
	font-size: 14px;
	font-weight: 700;
	display: block;
	letter-spacing: 1px;
	position: relative;
}

.navItemLink {
	color: #a0a0a0;
    text-decoration: none;
    
    &:hover {
        color: #ffffff;
    }

    .icon {
        position: absolute;
        right: 0;
        top: 6px;
        width: 25px;
    }
}

#mainViewContainer {
	margin-left: 220px;
	padding-bottom: 90px;
	width: calc(100% - 220px);
}

#mainContent {
	padding: 0 20px;
}

.pageHeadingBig {
	padding: 20px;
	text-align: center;
}

.gridViewItem {
	display: inline-block;
	margin-right: 20px;
	width: 29%;
	max-width: 200px;
	min-width: 150px;
    margin-bottom: 20px;
    
    img {
        width: 100%;
    }

    a {
        text-decoration: none;
    }
}

.gridViewInfo {
	font-weight: 300;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.entityInfo {
	padding: 40px 0 10px 0;
	display: inline-block;
    width: 100%;
    
    .leftSection {
        
        width: 30%;
        float: left;
        max-width: 250px;

        img {
            width: 100%;
        }
    }

    .rightSection {
        width: 70%;
        float: left;
        padding: 5px 10px 5px 40px;
        box-sizing: border-box;

        h2 {
            margin-top: 0;
        }

        p {
            color: #939393;
            font-weight: 200;
        }
    }
}

.tracklist {
	padding: 0;
}

.tracklistRow {
	height: 40px;
	padding: 15px 10px;
    list-style: none;
    
    span {
        color: #939393;
        font-weight: 200;
    }

    &:hover {
        background-color: #282828;

        .trackCount {
            img {
                visibility: visible;
            }

            span {
                visibility: hidden;
            }
        }

        .trackOptions {
            img {
                visibility: visible;
            }
        }
    }

    .trackCount {
        width: 8%;
        float: left;

        img {
            width: 20px;
            visibility: hidden;
            position: absolute;
            cursor: pointer;
        }
    }

    .trackInfo {
        width: 75%;
        float: left;

        span {
            display: block;
        }

        .trackName {
            color: #fff;
            padding-bottom: 7px;
        }
    }

    .trackOptions {
        width: 5%;
        float: left;
        text-align: right;

        img {
            width: 15px;
            visibility: hidden;
        }
    }

    .trackDuration {
        width: 12%;
        float: left;
        text-align: right;
    }
}

.artistInfo {
	text-align: center;
}

.button {
	color: #fff;
	cursor: pointer;
	margin-bottom: 10px;
	background-color: transparent;
	font-weight: 500;
	letter-spacing: 2px;
	border: 2px solid #fff;
	border-radius: 500px;
	padding: 15px;
    min-width: 130px;
    
    &.green {
        background-color: #2ebd59;
        border-color: #2ebd59;
    }
}

.borderBottom {
	border-bottom: 1px solid #939393;
	margin-bottom: 20px;
}

.tracklistContainer,
.gridViewContainer,
.artistContainer {
    h2 {
        text-align: center;
    }
}

[role="link"] {
	cursor: pointer;
}

.searchContainer {
	background-color: #242424;
    padding: 20px 28px;
    
    h4 {
        margin: 0;
        font-weight: 300;
    }

    .searchInput {
        width: 100%;
        background-color: transparent;
        border: none;
        color: #fff;
        font-weight: 700;
        font-size: 62px;
        letter-spacing: 2px;
    }
}

input:focus {
	outline: none;
}

span[role="link"]:focus {
	outline: none;
}

.searchResultRow {
    padding: 15px 10px;
    
    &:hover {
        background-color: #282828;
    }

    .artistName {

        span {
            color: #fff;
        }
    }
}

.noResults {
	margin: 15px;
	display: block;
}

.buttonItems {

    .button{
        display: block;
        margin: 0 auto 20px auto;
    }
}

.playlistsContainer {
	padding: 10px 0;
}

.playlistImage {
	border: 3px solid #282828;
	padding: 10px;
}

.optionsMenu {
	position: fixed;
	background-color: #282828;
	width: 200px;
	border: 1px solid rgba(0,0,0,0.15);
	z-index: 1000;
    display: none;
    
    .item {
        width: 100%;
        padding: 12px 20px;
        box-sizing: border-box;
        font-weight: 400;
        color: rgba(147, 147, 147, 0.8);
        cursor: pointer;
        height: 40px;
        background-color: #282828;
        font-size: 14px;

        &:hover {
            color: #fff;
            background-color: #333;
            border-color: #333;
        }
    }
}

.optionsMenu {

    select {
        border: none;
        -webkit-appearance: none;  /*Works for safari and chrome*/
        -moz-appearance: none; /*Works for firefox*/
    }
}

.userInfo {

    h1 {
        text-align: center;
    }
}

.userDetails {
    padding: 20px;

    .container {

        h2 {
            text-align: center;
        }

        input[type="text"],
        input[type="password"],
        button {
            display: block;
            margin: 16px auto;
        }

        input[type="text"],
        input[type="password"] {
            height: 50px;
            width: 100%;
            background: #1f1f1f;
            border: none;
            font-size: 18px;
            font-weight: 300;
            padding: 0 20px;
        }

        .message {
            color:#2ebd59;
            font-weight: 300;
        }
    }
}